{% extends 'base.html.twig' %}

{% block body %}

    <div class="alert alert-danger">
        <strong>{{ 'avertissement'|trans }}</strong> {{ 'msg-suppr-utilisateur'|trans }}
        <ul>
            <li><strong>{{ 'username'|trans }} : </strong> {{ utilisateur.username }}</li>
            <li><strong>{{ 'id'|trans }}: </strong> {{ utilisateur.id }}</li>
            <li><strong>{{ 'prenom'|trans }}: </strong>{{ utilisateur.prenom }}</li>
            <li><strong>{{ 'nom'|trans }}: </strong>{{ utilisateur.nom }}</li>
            <li><strong>{{ 'email'|trans }}: </strong>{{ utilisateur.mail }}</li>
            <li><strong>{{ 'date-naissance'|trans }}: </strong>{{ utilisateur.dateNaiss|date('d/m/Y') }}</li>
        </ul>
    </div>
    {{ form_start(form, {'attr': {'class': 'navbar-form navbar-left'}}) }}
    {{ form_widget(form) }}
    <a href="{{ path('utilisateur.list',{_locale:app.request.locale}) }}"  role="button">
        <button type="submit" class="btn btn-success">{{ 'cancel'|trans }}</button></a>
        
        
        <button type="submit" class="btn btn-danger" onclick="return confirm("{{ 'confirm'|trans }}")">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        {{ 'suppr'|trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}