{% extends 'base.html.twig' %}

{% block body %}
    <table class="table text-center">
        <tr>
            <th class="active text-center">{{ 'id'|trans }}</th>
            <th class="active text-center">{{ 'username'|trans }}</th>
            <th class="active text-center">{{ 'nom'|trans }}</th>
            <th class="active text-center">{{ 'prenom'|trans }}</th>
            <th class="active text-center">{{ 'date-naissance'|trans }}</th>
            <th class="active text-center">{{ 'email'|trans }}</th>
            <th class="active text-center">{{ 'role'|trans }}</th>
            <th class="active text-center">{{ 'action'|trans }}</th>
        </tr>

        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.username }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.dateNaiss|date("d/m/Y") }}</td>
                <td>{{ utilisateur.mail }}</td>
                <td>{% for role in utilisateur.roles %}
                    {{ role }}
                    {% endfor %}
                </td>
                <td><a href={{ path("utilisateur.edit",
                        {id : utilisateur.id} )}}  class="btn btn-primary" >{{ 'edit'|trans }}</a>
                <a href={{ path("utilisateur.delete",
                    {id : utilisateur.id} ) }} class="btn btn-danger">{{ 'suppr'|trans }}</a>
                <a href={{ path("utilisateur.show",
                    {id : utilisateur.id} ) }} class="btn btn-info">{{ 'show'|trans }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}