{% extends 'base.html.twig' %}

{% block body %}

    <div class="alert alert-danger">
        <strong>{{ 'avertissement'|trans }}</strong> {{ 'msg-suppr-inscription'|trans }}
        <ul>
            <li><strong>{{ 'username'|trans }}: </strong> {{ inscription.utilisateur.username }}</li>
            <li><strong>{{ 'date'|trans }}: </strong>{{ inscription.dateInscr|date('d/m/Y') }}</li>
            <li><strong>{{ 'nombre-passagers'|trans }}: </strong>{{ inscription.nbPassage }}</li>

        </ul>
    </div>
    {{ form_start(form, {'attr': {'class': 'navbar-form navbar-left'}}) }}
    {{ form_widget(form) }}
    
        <a href="/trajet/{{inscription.trajet.id}}/show"  role="button">
        <button type="submit" class="btn btn-success">{{ 'cancel'|trans }}</button></a>

        <button type="submit" class="btn btn-danger" onclick="return confirm('{{ "confirm"|trans }}')">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {{ 'suppr'|trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}
