{% extends 'base.html.twig' %}

{% block body %}
    <table class="table text-center">
        <tr>
            <th class="active text-center">Description</th>
            <th class="active text-center">VilleDep</th>
            <th class="active text-center">VilleDest</th>
            <th class="active text-center">DateDep</th>
            <th class="active text-center">NombePlacesMax</th>
            <th class="active text-center">Statut</th>
            <th class="active text-center">Conducteur</th>
            <th class="active text-center">Action</th>

        </tr>

        {% for inscription in inscriptions %}
            <tr>
                <td>{{ inscription.trajet.description }}</td>
                <td>{{ inscription.trajet.villeDep }}</td>
                <td>{{ inscription.trajet.villeDest }}</td>
                <td>{{ inscription.trajet.dateDep|date("d/m/Y") }}</td>
                <td>{{ inscription.trajet.nombrePlacesMax }}</td>
                {% if inscription.trajet.statut == 1 %}
                    <td>Disponible</td>
                {% elseif inscription.trajet.statut == 2 %}
                    <td>Terminé</td>
                {% endif %}
                <td>{{ inscription.trajet.conducteurId.username }}</td>

                {% if (not app.user) %}
                    <td><a href={{ path("trajet.show", {id : inscription.trajet.id} ) }} class="btn btn-info">Afficher</a></td>
                {% else %}
                    {% if (app.user.username == inscription.trajet.conducteurId.username) %}
                    <td><a href={{ path("inscription.edit", {id : inscription.trajet.id} )}} class="btn btn-primary" >Modifier</a>
                        <a href={{ path("inscription.delete", {id : inscription.trajet.id} ) }} class="btn btn-danger">Supprimer</a>
                        <a href={{ path("inscription.show", {id : inscription.trajet.id} ) }} class="btn btn-info">Afficher</a></td>
                    {% elseif is_granted('ROLE_ADMIN') %}
                        <td><a href={{ path("inscription.delete", {id : inscription.trajet.id} ) }} class="btn btn-danger">Supprimer</a>
                            <a href={{ path("inscription.show",{id : inscription.trajet.id} ) }} class="btn btn-info">Afficher</a></td>
                    {% else %}
                        <td><a href={{ path("inscription.show",{id : inscription.trajet.id} ) }} class="btn btn-info">Afficher</a></td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}