<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ 'titre'|trans }}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}

    {% if not app.user or app.user.styleChoix == 1 %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% else %}
        <link rel="stylesheet" href="/css/bootstrap-dark.css">
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/{{app.request.locale }}/trajet">{{ 'offres-trajets'|trans }}</a>
    <a class="navbar-brand" href="/{{app.request.locale }}/search-trajet">{{ 'rechercher-trajet'|trans }}</a>
    {% if (app.user) %}
        {% if is_granted('ROLE_USER') %}
                    <a href="/{{app.request.locale }}/nouveau-trajet" class="navbar-brand">{{ 'creer-trajet'|trans }}</a>
                    <a href="/{{app.request.locale }}/utilisateur-trajets" class="navbar-brand">{{ 'mes-annonces'|trans }}</a>
                    <a href="/{{app.request.locale }}/utilisateur-inscriptions" class="navbar-brand">{{ 'mes-inscriptions'|trans }}</a>
                    <a href={{ path("utilisateur.edit", {id : app.user.id,_locale:app.request.locale} )}} class="navbar-brand" >{{ 'mon-profil'|trans }}</a>

        {% if is_granted('ROLE_ADMIN') %}

            <a href="/{{app.request.locale }}/admin/utilisateur" class="navbar-brand">{{ 'administration'|trans }}</a>

            {% endif %}
        {% endif %}
    {% else %}

            <a href="/{{app.request.locale }}/nouveau-utilisateur" class="navbar-brand">{{ 'sign-in'|trans }}</a>

    {% endif %}

            {% if app.user %}
                <a href="/{{app.request.locale }}/logout" class="navbar-brand">{{ 'logout'|trans }}</a>
            {% else %}
                <a href="/{{app.request.locale }}/login" class="navbar-brand">{{ 'login'|trans }}</a>
            {% endif %}

            <div class="dropdown show">
            <a class="navbar-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                {{ 'langues'|trans }}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for key,locale in locales %}
                <a class="dropdown-item" href="{{ path("homeLangue",
                app.request.attributes.get('_route_params')|merge({'_locale': key})) }}">{{locale}}</a>
                {% endfor %}
            </div>
            </div>

</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
