{% extends 'base.html.twig' %}

{% block body %}
    <table class="table text-center">
        <tr>
            <th class="active text-center">Description</th>
            <th class="active text-center">VilleDep</th>
            <th class="active text-center">VilleDest</th>
            <th class="active text-center">DateDep</th>
            <th class="active text-center">NombePlacesMax</th>
            <th class="active text-center">Statut</th>
            <th class="active text-center">Conducteur_id</th>
            <th class="active text-center">Modifier</th>
            <th class="active text-center">Supprimer</th>
            <th class="active text-center">Montrer</th>
        </tr>

        {% for trajet in trajets %}
            <tr>
                <td>{{ trajet.description }}</td>
                <td>{{ trajet.villeDep }}</td>
                <td>{{ trajet.villeDest }}</td>
                <td>{{ trajet.dateDep|date("d/m/Y") }}</td>
                <td>{{ trajet.nombrePlacesMax }}</td>
                <td>{{ trajet.statut }}</td>
                <td></td>
                <td><a href={{ path("trajet.edit",{id : trajet.id} ) }}>Modifier</a></td>
                <td><a href={{ path("trajet.delete",{id : trajet.id} ) }}>Supprimer</a></td>
                <td><a href={{ path("trajet.show",{id : trajet.id} ) }}>Montrer</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}