{% extends 'base.html.twig' %}

{% block body %}
    <table class="table text-center">
        <tr>
            <th class="active text-center">{{ 'date'|trans }}</th>
            <th class="active text-center">{{ 'depart'|trans }}</th>
            <th class="active text-center">{{ 'arrivee'|trans }}</th>
            <th class="active text-center">{{ 'pl-rest'|trans }}</th>
            <th class="active text-center">{{ 'status2'|trans }}</th>
            <th class="active text-center">{{ 'conducteur'|trans }}</th>
            <th class="active text-center">{{ 'action'|trans }}</th>

        </tr>

        {% for trajet in trajets %}
            <tr>
                <td>{{ trajet.dateDep|date("d/m/Y") }}</td>
                <td>{{ trajet.villeDep }}</td>
                <td>{{ trajet.villeDest }}</td>
                <td>{{ trajet.calculerNbPlacesRestantes }}</td>
                {% if trajet.statut == 1 %}
                    <td>{{ 'dispo'|trans }}</td>
                {% elseif trajet.statut == 2 %}
                    <td>{{ 'pas-dispo'|trans }}</td>
                {% endif %}
                <td>{{trajet.conducteurId.username}}</td>

                {% if (not app.user) %}
                    <td><a href={{ path("trajet.show",{id : trajet.id} ) }} class="btn btn-info">{{ 'show'|trans }}</a></td>
                {% else %}
                    {% if (app.user.username == trajet.conducteurId.username) %}
                    <td><a href={{ path("trajet.edit",{id : trajet.id} )}} class="btn btn-primary">{{ 'edit'|trans }}</a>
                        <a href={{ path("trajet.delete",{id : trajet.id} ) }} class="btn btn-danger">{{ 'suppr'|trans }}</a>
                        <a href={{ path("trajet.show",{id : trajet.id} ) }} class="btn btn-info">{{ 'show'|trans }}</a></td>
                    {% elseif is_granted('ROLE_ADMIN') %}
                        <td><a href={{ path("trajet.delete",{id : trajet.id} ) }} class="btn btn-danger">{{ 'suppr'|trans }}</a>
                            <a href={{ path("trajet.show",{id : trajet.id} ) }} class="btn btn-info">{{ 'show'|trans }}</a></td>
                    {% else %}
                        <td><a href={{ path("trajet.show",{id : trajet.id} ) }} class="btn btn-info">{{ 'show'|trans }}</a></td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}